:host {
  background: var(--color-notificationBackground);
  display: flex;
  position: relative;
}

.confirm,
.cancel {
  border: 0;
  flex: 1 1 50%;
  padding: 5px;
  margin: 10px;
  text-transform: uppercase;
}

.confirm {
  background: var(--color-confirm);
}

.cancel {
  background: var(--color-cancel);
}
