:host {
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.board {
  flex: 1 1 auto;
  overflow: auto;
}

.confirm {
  flex: 0 0 auto;
}

.rack {
  flex: 0 0 auto;
}
