:host {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.board {
  flex: 1 1 auto;
}

.confirm {
  flex: 0 0 auto;
}

.rack {
  flex: 0 0 auto;
}
