:root {
  --color-background: #d5d0bd;
  --color-startSquare: #3e3e3e;
  --color-font: #1e1e1e;
  --color-wordSquare: #e25340;
  --color-wordSquareDouble: #dc917f;
  --color-selectedSquare: #ce00aa;
  --color-letterSquare: #00a0d4;
  --color-letterSquareDouble: #6bb8c9;
  --color-separators: #f0f0f0;
  --color-fontInvert: #f0f0f0;
  --color-tileBackground: #efe9da;
  --color-tileOutline: #dccdb0;
  --color-rackBackground: #3e3e3e;
  --color-menuBackground: #3e3e3e;
  --color-warning: #e25340;
  --color-confirm: #00a0d4;
  --color-cancel: #aaaaaa;
  --color-notificationBackground: #1e1e1e;

  font-family: Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
