:host {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  position: relative;

  &.is-start {
    background: black;
    color: white;

    &::before {
      content: 'Start';
    }
  }
}

.tile {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
