:host {
  align-items: center;
  border: 2px solid var(--color-separators);
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    background: var(--square-backgroundColor);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    color: var(--square-fontColor, var(--color-font));
    font-size: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  &.is-start {
    --square-backgroundColor: var(--color-startSquare);
    --square-fontColor: var(--color-fontInvert);

    &::after {
      content: '\2605';
      font-size: 40px;
      line-height: 50px;
    }
  }

  &.is-doubleWord {
    --square-backgroundColor: var(--color-wordSquareDouble);

    &::after {
      content: 'Double word';
    }
  }

  &.is-tripleWord {
    --square-backgroundColor: var(--color-wordSquare);

    &::after {
      content: 'Triple word';
    }
  }

  &.is-doubleLetter {
    --square-backgroundColor: var(--color-letterSquareDouble);

    &::after {
      content: 'Double letter';
    }
  }

  &.is-tripleLetter {
    --square-backgroundColor: var(--color-letterSquare);

    &::after {
      content: 'Triple letter';
    }
  }

  &.is-selected {
    --square-backgroundColor: var(--color-selectedSquare);
  }
}

.tile {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.select {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
