:host {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
}

.grid {
  border: 2px solid var(--color-font);
  background: var(--color-background);
  flex-direction: column;
}

.square {
  height: 50px;
  width: 50px;
}
